
/* span{
    margin-left: 5px;
} */

.subscribe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .subscribe-button,
  .subscribed-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .subscribe-button {
    background-color: red;
  }
  
  .subscribed-button {
    background-color: grey;
    display: flex;
    align-items: center;
  }
  
  .bell-icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 600px) {
    .subscribe-button,
    .subscribed-button {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    .bell-icon {
      margin-left: 5px;
    }
  }
  
  @media (max-width: 400px) {
    .subscribe-button,
    .subscribed-button {
      padding: 6px 12px;
      font-size: 12px;
    }
  
    .bell-icon {
      margin-left: 3px;
    }
  }
  